.header {
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #062c30;
}

.logo {
  color: #f5f5f5;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  font-size: 1.2rem;
  margin-right: 2rem;
}

.nav a {
  text-decoration: none;
  margin-bottom: 0.2rem;
  color: #f5f5f5;
}

.nav a.active {
  border-bottom: 2px solid #f5f5f5;
}
